body {
  font-family: helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  background-color: white;
}
@media (max-width: 650px) {
.form label {
  	margin:10px 0;
  }
  .form input {
    	margin:10px 0;
    }
    .todo-container {
      	margin:10px 0;
      }
}
h3{
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #1d79db;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
  max-width: 400px;

}

li{margin-bottom: 20px;
}

label{color: black;font-weight: bold;}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

/*mark button*/
.mark{
  background-color: #137f2c;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.4em;
  border: none;
  border-radius: 6px;
  margin-left: 50px;
  font-weight: bold;

}
.mark:hover {background: #46a049;cursor: pointer;}


/*delete button*/
.delete {
  background-color: #af3611;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4em;
  border: none;
  border-radius: 6px;
  margin-left: 5px;
  }
.delete:hover {background: #da190b;cursor: pointer;}


/*todo div*/
.uncomplete{
  color: black;
}

/*complete div*/
.complete{
  color: green;
  font-weight: bold;
  border-bottom: 2px solid #333;
}
/*task completed */
.completed {
    text-decoration: line-through;
    opacity: 0.5;
  }

/*field to add task*/
.new-task-input {
  color: black;
  background-color: white;
  width: 360px;
  font-size: 16px;
  line-height: 1.4em;
  border: none;
  border-bottom: 2px solid #59a5c1;
  margin: 0px 20px;

}
.new-task-input:focus {
    outline: none;
    border-bottom-color: green;
  }

/*add task button*/
.add-task-button{
  font-size: 16px;
  line-height: 1.4em;

  border: none;
  border-radius: 6px;

  color: white;
  font-weight: bold;
  background:#167e9e;
  /*#0D99FC;*/
}
.add-task-button:hover{
  cursor: pointer;
}

/*todo*/
.todo-container{
  padding: 0;
  margin-top: 64px;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  flex-direction: row;
  flex-wrap: wrap;
}
/*done*/
.do-container{
  padding: 0;
  margin-top: 64px;
  font-weight: bold;
  color: green;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  flex-direction: row;
  flex-wrap: wrap;
}
