body {
  font-family: helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  background-color: black;
}

.new-task-input {
  color: white;
  background-color: black;
  width: 360px;
  font-size: 16px;
  line-height: 1.4em;
  border: none;
  border-bottom: 1px solid #59a5c1;
  margin: 0px 20px;

}
.new-task-input:focus {
    outline: none;
    border-bottom-color: white;
  }

.add-task-button{
  font-size: 16px;
  line-height: 1.4em;

  border: none;
  border-radius: 3px;

  color: white;
  background: #0D99FC;
}
.add-task-button:hover{
  cursor: pointer;
}
.todo-container{
  padding: 0;
  margin-top: 64px;
  margin-left: 460px;
  font-weight: bold;
  color: #1d5970;
}
